/* ! IMPLEMENTADO CON BOOTSTRAP */

*{
    font-family: 'Tiro Devanagari Sanskrit', serif;
}

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.socialMediaLogos {
    height: 80px;
    max-width: 80px;
    border-radius: 50%;
    background-color: white;
}

.carousel-img{
    display: block;
    margin: 0 auto;
    max-width: 75%;
    border-radius: 40px;
}

/* Typewriter */
#typewriterText{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2s steps(20, end) forwards,
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }